.card {
    width: 630px;
height: 735.36px;
top: 197px;
left: 430px;
gap: 0px;
opacity: 0px;

}

.input {
    width: 516px;
height: 96px;
left: 47px; 
gap: 0px;
opacity: 0px;


}
.button{
    width: 418px;
height: 56px;
left: 106px; 
gap: 0px;
opacity: 0px;

}